button {
  background-color:pink
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px
}

body, html {
  background:linear-gradient(to bottom,#00139d, #0057ca, #008be0, #00bcea, #94e9f6);
  background-repeat: no-repeat;
  height: 100%; 
}

h1 {
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  font-family: monospace;
}

.inputSection {
margin: 10px 0px 80px 0px;
width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}
